@import "../../Variables.module";

.contacts {
  .wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    .socialWrapper{
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 30px;
      background-color: #fff;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      box-shadow: $boxShadow;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .contactContainer{
      display: flex;
      flex-direction: column;
      p{
        font-size: 18px;
        font-weight: 300;
        color: $menuTextColor;
        text-align: left;
      }
      .support{
        display: flex;
        justify-content: flex-start;

        p{
          max-width: 235px;
        }

        &::after {
          content: "";
          display: block;
          background: url("../../assets/img/svg/support.svg") no-repeat;
          width: 54px;
          height: 60px;
          -webkit-background-size: 54px 60px;
          background-size: 54px 60px;
        }
      }
      .btn{
        width: 100%;
        button {
          width: 100%;
          border: none;
          max-width: 300px;
          background-image: linear-gradient(170deg, $btnPriceStart 11%, $btnPriceEnd 60%);
          padding: 22px;
          font-family: 'Montserrat', sans-serif;
          font-size: 32px;
          color: white;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          outline: none;
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -ms-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          &:hover {
            -webkit-transform: scale(1.05, 1.05);
            -moz-transform: scale(1.05, 1.05);
            -ms-transform: scale(1.05, 1.05);
            -o-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
            background-image: linear-gradient(10deg, $btnPriceStart 11%, $btnPriceEnd 60%);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contacts {
    .wrapper {
      margin-top: 100px;
      margin-left: 20px;
      width: 77%;
      .socialWrapper{
        display: grid;
      }
      .contactContainer{
        flex-direction: row;
        flex-wrap: wrap;

      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .contacts {
    .wrapper {
      width: 86%;
      .contactContainer{
        justify-content: space-around;
        .btn{
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1376px) {
  .contacts {
    .wrapper {
      width: 90%;
      .socialWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .contactContainer{
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        div{
          max-width: 300px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .contacts {
    .wrapper {
      width: auto;
      margin-left: 50px;
      margin-right: 70px;
      .socialWrapper{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
      }
      .contactContainer{
        div{
          max-width: none;
        }
      }
    }
  }
}