.orders {
  .wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    .containerInfo{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .orders {
    .wrapper {
      margin-top: 100px;
      margin-left: 20px;
      width: 77%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .orders {
    .wrapper {
      width: 86%;
    }
  }
}

@media only screen and (min-width: 1376px) {
  .orders {
    .wrapper {
      width: 90%;}}
}

@media only screen and (min-width: 1600px) {
  .orders {
    .wrapper {
      width: 100%;
      margin-left: 50px;
      .containerInfo{
        justify-content: space-between;
      }
    }
  }
}