@import "../../../../Variables.module";

.refundFormik {
  padding: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: $boxShadow;
  background-color: #fff;
  margin-bottom: 50px;

  input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: $menuTextColor;
    text-align: center;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
  }
}

@media only screen and (min-width: 1024px) {
  .refundFormik {
    form {
      & > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        input{
          width: 49%;
        }
      }
    }
  }
}