@import "../../Variables.module";

.header {
  .logo {
    display: flex;
    justify-content: start;
    margin-left: 10px;

    .logo_box {
      img {
        width: 85px;
      }
    }

    .account_box {
      display: flex;
      align-items: center;
      margin-left: 10px;
      width: 70%;

      .user {
        width: 60px;
        height: 57px;
      }

      .logout {
        display: none;

        img {
          height: 27px;
        }
      }

      .account_info {
        display: none;

        p {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 18px;
          color: $blueText;
          font-weight: bold;
        }

        a {
          font-size: 14px;
          text-decoration: underline;
        }
      }

      .basket {
        position: relative;
        margin-left: 10px;

        img {
          width: 60px;
          height: 59px;
        }

        span {
          position: absolute;
          right: -9px;
          top: -10px;
          width: 35px;
          height: 35px;
          background-color: $bg_color;
          color: $menuTextColor;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: bold;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
  }

  .menu {

  }
}

.active_link {
}

@media only screen and (min-width: 480px) {
  .header {
    .logo {
      .account_box {
        width: 62%;
        justify-content: space-around;

        .user {
          display: none;
        }

        .logout {
          display: block;

        }

        .account_info {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-rows: auto 1fr;

    .logo {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      padding-bottom: 30px;

      .logo_box img{
        width: 207px;
      }

      .account_box {
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        width: 240px;
        margin-top: -32px;

        .account_info {

        }

        .basket {
          margin-left: 0;

          img {
            width: 42px;
            height: 36px;
          }

          span {
            width: 27px;
            height: 27px;
          }
        }
      }
    }
  }
}