.bg_img{
  //background-image: url('https://previews.123rf.com/images/houbacze/houbacze1509/houbacze150900017/45246294-this-is-background-coming-soon.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-size: 25px;
}

h2{
  margin-top: 0;
}

